{{ define "title" }}{{ .Title }} - {{ .Params.subtitle }}{{ end }}

{{ define "main" }}
<header class="main-header">
  <div class="menu menu-button">
    <div class="menu-bar menu-bar-top"></div>
    <div class="menu-bar menu-bar-center"></div>
    <div class="menu-bar menu-bar-bottom"></div>
  </div>
  <nav class="header-item off-canvas-menu">
    <a class="off-canvas-menu-link" href="#about">About</a>
    <a class="off-canvas-menu-link" href="#projects">Projects</a>
    <a class="off-canvas-menu-link" href="#blog">Blog</a>
    <a class="off-canvas-menu-link" href="#community">Community</a>
    <a class="off-canvas-menu-link" href="#sponsor">Sponsors</a>
  </nav>
  <h1 class="header-item header-logo">
    <a class="block" href="/">
      <img src="/images/logo-karavel.svg" alt="Karavel"/>
    </a>
  </h1>

  <h1 class="header-item text-center">{{ .Params.subtitle }}</h1>
</header>
<main>
  <div class="card main text-center">
    {{ .Description }}
  </div>
  <div class="content">
    <section id="about">
      <h2>About</h2>
      <p>
        {{ .Content }}
      </p>
    </section>
    <section id="projects">
      <h2>Projects</h2>
      <div class="card-container">
        {{- range .Params.projects }}
        <div class="card xs text-center">
          <p>{{ .name }}</p>
          <a href="{{ .url }}" target="_blank">Discover</a>
        </div>
        {{- end }}
      </div>
    </section>
    <section id="blog">
      <h2>Blog</h2>
      <div class="card-container">
        <div class="card xl">
          <h3>Lorem ipsum</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a
            risus mauris. Integer vitae pretium quam. Aliquam finibus
            lacinia nisl non cursus. Vestibulum ante ipsum primis in
            faucibus orci luctus et ultrices posuere cubilia curae; Nam
            gravida odio ac ligula condimentum commodo.
          </p>
          <button class="button">Read</button>
        </div>
        <div class="card xl">
          <h3>Lorem ipsum</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a
            risus mauris. Integer vitae pretium quam. Aliquam finibus
            lacinia nisl non cursus. Vestibulum ante ipsum primis in
            faucibus orci luctus et ultrices posuere cubilia curae; Nam
            gravida odio ac ligula condimentum commodo.
          </p>
          <button class="button">Read</button>
        </div>
      </div>
    </section>
    <section id="community">
      <h2>Community</h2>
      <p>{{ .Params.community }}</p>
      <footer class="section-footer text-right">
        <button class="button spaced-top-standard">View</button>
      </footer>
    </section>
    <section id="sponsor">
      <h2>Sponsor</h2>
      {{- range .Params.sponsors }}
      <a href="{{ .url }}" target="_blank">
        <img src="{{ .logo }}" alt="{{ .name }}"/>
      </a>
      {{- end }}
    </section>
  </div>
</main>
{{ end }}
