{{ define "title" }}{{ .Site.Title }}{{ end }}
{{ define "main" }}
{{ partial "header.html" . }}
<main class="container">
  <div class="card main text-center">{{ .Description }}</div>
  <section class="site-section" id="about">
    <h2>About</h2>
    <p>{{ .Content }}</p>
  </section>
  <section class="site-section" id="projects">
    <h2>Projects</h2>
    <div class="card-container">
      {{- $projects := .GetPage "projects" }}
      {{- range sort ($projects.Resources.Match "*.md") ".Weight" "desc" }}
      <div class="card xs text-center">
        <p>{{ .Title }}</p>
        {{- if .Params.link }}
        <a href="{{ .Params.link }}" target="_blank">Discover</a>
        {{- end }}
      </div>
      {{- end }}

    </div>
  </section>
  <section class="site-section" id="blog">
    <h2>Blog</h2>
    <div class="card-container">
      <div class="card xl">
        <h3 class="as-h2">Coming Soon</h3>
        <p></p>
        <a href="#blog" class="button">Read</a>
      </div>
    </div>
  </section>
  <section class="site-section" id="community">
    <h2>Community</h2>
    <p>{{ .Params.community }}</p>
    <footer class="section-footer text-right">
      <a href="/community" class="button spaced-top-standard">View</a>
    </footer>
  </section>
  <section class="site-section" id="sponsor">
    <h2>Sponsor</h2>
    {{- $sponsors := .GetPage "sponsors" }}
    <ul class="sponsors-list">
      {{- range sort ($sponsors.Resources.Match "*.md") "Title" "asc" }}
      <li class="sponsor-item">
        <a href="{{ .Params.link }}" target="_blank">
          {{- $logo := $sponsors.Resources.GetMatch (.Params.logo | default "") }}
          {{- if $logo }}
            <img src="{{ $logo.RelPermalink }}" alt="{{ .Title }}"/>
          {{- else }}
          {{ .Title }}
          {{- end }}
        </a>
      </li>
      {{- end }}
    </ul>
  </section>
</main>
{{ end }}
