// Media queries
$breakpoints: (
  mobile: 420px,
  tablet-portrait: 768px,
  main-column: 960px,
  tablet-landscape: 1024px,
  desktop: 1280px,
);

// Colors
$black: #0f0f0f;
$darker-gray: #303030;
$dark-gray: #525252;
$gray: #6e6e6e;
$light-gray: #858585;
$lighter-gray: #8f8f8f;
$white: #fff;
$blue: #251bff;

// Sizes
$gutter-small: 16px;
$gutter-standard: 34px;
$gutter-big: 44px;
$gutter-bigger: 64px;
$gutter-biggest: 100px;
$gutter-hero: 133.5px;

$main-column: 960px;
