<header class="main-header community">
  <div class="menu menu-button">
    <div class="menu-bar menu-bar-top"></div>
    <div class="menu-bar menu-bar-center"></div>
    <div class="menu-bar menu-bar-bottom"></div>
  </div>
  {{- $withLogo := .Params.withLogo | default true }}
  <nav class="header-item off-canvas-menu">
    {{ if not $withLogo }}
    <a class="off-canvas-menu-link" href="/">
      <img src="/images/logo-karavel.svg" alt="Karavel" class="logo"/>
    </a>
    {{ end }}
    <a class="off-canvas-menu-link" href="/#about">About</a>
    <a class="off-canvas-menu-link" href="/#projects">Projects</a>
    <a class="off-canvas-menu-link" href="/#blog">Blog</a>
    <a class="off-canvas-menu-link" href="/community">Community</a>
    <a class="off-canvas-menu-link" href="/#sponsor">Sponsors</a>
  </nav>
  <h1 class="header-item header-logo">
    {{- if $withLogo }}
    <a class="block" href="/">
      <img src="/images/logo-karavel.svg" alt="Karavel" />
    </a>
    {{- else }}
    {{ .Title }}
    {{- end }}
  </h1>
  <h2 class="header-item text-center">{{ .Params.subtitle }}</h2>
</header>
