.button {
  cursor: pointer;
  width: 140px;
  border-radius: 13px;
  border: 2px solid $blue;
  color: $blue;
  margin: auto 0 0 auto;
  &:hover {
    color: $white;
    background-color: $blue;
  }
  &.fill {
    float: right;
    font-size: 26px;
    width: 198px;
  }
}
