.card {
  background-color: $white;
  border-radius: 16px;
  box-shadow: 0 2px 74px 0 rgba(142, 142, 142, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 auto;
  font-size: 24px;
  margin: $gutter-small ($gutter-big / 2);
  padding: $gutter-standard;
  width: calc(100% - #{$gutter-big});

  &-container {
    display: flex;
    flex-wrap: wrap;
    margin: -$gutter-small (-$gutter-big / 2);
    @include media("<=mobile") {
      flex-direction: column;
    }
  }

  &.main {
    font-size: 36px;
    margin: 0 auto;

    @include media(">#{$main-column + $gutter-standard * 2}") {
      width: $main-column;
    }

    @include media("<tablet-portrait") {
      font-size: 20px;
      margin-top: -$gutter-bigger;
    }

    @include media(">=tablet-portrait") {
      padding: $gutter-bigger;
      margin-top: -$gutter-hero;
    }
  }

  &.xs {
    @include media(">mobile") {
      width: calc(50% - #{$gutter-big});
    }

    @include media(">=tablet-portrait") {
      width: calc(33% - #{$gutter-big});
    }
  }

  &.xl {
    @include media(">=tablet-portrait") {
      width: calc(50% - #{$gutter-big});
    }

    p {
      display: -webkit-box;
      font-size: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      @include media("<=tablet-portrait") {
        font-size: 20px;
      }
    }
  }

  h3 + p {
    margin-top: $gutter-standard;
  }

  p {
    margin-bottom: $gutter-standard;
  }

  .button {
    align-self: flex-end;
  }
}
