.card {
  background-color: $white;
  border-radius: 16px;
  box-shadow: 0 2px 74px 0 rgba(142, 142, 142, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
  font-size: 24px;
  padding: $gutter-standard;

  @include media("<tablet-landscape") {
    margin: $gutter-small auto;
    width: 100%;
  }

  &-container {
    display: flex;
    justify-content: space-between;
    @include media("<tablet-landscape") {
      flex-direction: column;
    }
  }

  & + .card {
    @include media(">=tablet-landscape") {
      margin-left: $gutter-big
    }
  }

  &.main {
    font-size: 36px;
    max-width: calc(100% - #{$gutter-standard * 2});
    margin: 0 auto;

    @include media(">#{$main-column + $gutter-standard * 2}") {
      width: $main-column;
    }

    @include media("<tablet-portrait") {
      font-size: 20px;
      margin-top: -$gutter-bigger;
    }

    @include media(">=tablet-portrait") {
      padding: $gutter-bigger;
      margin-top: -133.5px;
    }
  }

  &.xs {
    @include media(">=tablet-landscape") {
      width: 33%;
    }
  }

  &.xl {
    @include media(">=tablet-landscape") {
      width: 50%;
    }

    p {
      display: -webkit-box;
      font-size: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      @include media("<=tablet-portrait") {
        font-size: 20px;
      }
    }
  }

  h3 + p {
    margin-top: $gutter-standard;
  }

  p {
    margin-bottom: $gutter-standard;
  }

  .button {
    align-self: flex-end;
  }
}
