.content {
  margin: auto;
  margin-bottom: $gutter-bigger;

  @include media('>=tablet-landscape') {
    width: $main-column;
  }

  @include media('<tablet-landscape') {
    padding: 0 $gutter-standard;
  }

  .site-section {
    margin-top: $gutter-bigger;
  }

  &.spaced {
    margin: $gutter-biggest auto;
  }
}
