.content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: auto;
  margin-bottom: 125px;

  @include media(">=tablet-landscape") {
    width: 920px;
  }
  @include media("<tablet-landscape") {
    margin: 32px;
  }
  @include media("<mobile") {
    margin: 16px;
  }

  img {
    margin: 45px 0;
  }
}
