.main-header {
  background: url("/images/bg-index.png") no-repeat center;
  background-size: cover;
  padding: $gutter-big 0 250px;
  text-align: center;

  @include media("<tablet-portrait") {
    padding: $gutter-standard;
    padding-bottom: $gutter-biggest;
  }

  .header-item {
    margin: 0 auto;
  }

  .header-logo {
    margin: $gutter-big auto;
    @include media(">=tablet-landscape") {
      margin: $gutter-biggest auto;
    }
  }

  .menu-icon {
    background-color: blue;
    height: 15px;
    width: 15px;
    position: fixed;
    left: 10;
    top: 10;
    visibility: hidden;

    &:hover {
      cursor: pointer;
    }

    @include media("<tablet-landscape") {
      visibility: visible;
    }
  }
}
