.main-card {
  display: flex;
  background-color: $white;

  border-radius: 10px;
  box-shadow: 0 2px 74px 0 rgba(142, 142, 142, 0.4);
  font-size: 36px;
  line-height: 49px;
  margin: auto;
  padding: 4rem;

  @include media(">=tablet-landscape") {
    width: 920px;
    margin-top: -120px;
  }
}
