.main-footer {
  background-color: $darker-gray;
  color: $white;
  font-size: 32px;
  font-family: "Noto Serif Regular";
  font-weight: lighter;
  padding: $gutter-biggest;
  text-align: center;

  @include media("<tablet-portrait") {
    padding: $gutter-big $gutter-standard;
  }

  .footer-logo {
    width: 156px;
    margin: 0 auto $gutter-bigger;
  }
}
