.main-footer {
  background-color: $darker-gray;
  color: $white;
  font-size: 20px;
  font-weight: lighter;
  padding: $gutter-biggest;
  text-align: center;

  @include media("<tablet-portrait") {
    padding: $gutter-big $gutter-standard;
  }

  .footer {

    &-logo {
      width: 156px;
      margin: 0 auto $gutter-bigger;
    }

    &-menu a {
      color: $white;
      margin: 0 $gutter-small;
    }

    &-copy {
      display: inline-block;
      font-size: 16px;
    }
  }
}
