.menu-button {
  background: $black;
  cursor: pointer;
  display: none;
  padding: 8px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  @include media("<tablet-landscape") {
    display: block;
  }

  .menu-bar {
    background: $white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: 5px;
    width: 35px;
    transition: all 0.5s ease-in-out;

    &-top {
      transform-origin: 0 0;
    }

    &-bottom {
      transform-origin: 0 100%;
    }

    & + .menu-bar {
      margin-top: 10px
    }
  }

  &.open .menu-bar {

    &-top {
      transform: rotate(45deg) translate(7px, -2.5px);
    }

    &-center {
      opacity: 0;
    }

    &-bottom {
      transform: rotate(-45deg) translate(7px, 2.5px);
    }
  }
}
